
    {% extends 'partials/main.html' %}
    {% load static %}
    
    {% block script %} 
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    {% endblock script %}
    
    
    {% include 'partials/nav_bar.html' %}
    {% block content %}
    <main class='bg-primary_black h-full w-full '>
        {{movie | json_script:'movie_datas'}}
        
        <video src="/images/Videos/backG.mp4" controls class="w-full h-screen player"></video>
        
    </main>
  

    {% endblock content %}