{% extends 'partials/main.html' %}
{% load static %}

{% block script %} 
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
{% endblock script %}

{% include 'partials/nav_bar.html' %}
{% block content %}


    <main class='bg-primary_black min-h-screen w-full'>
     
        <section class="h-screen relative bg-no-repeat pb-8 pl-6 flex justify-end items-end bg-cover" style="background-image: url({{tvshow.poster.url}})">
            <div>
                <h2 class="text-6xl font-semibold text-white my-4" style="color: rgb(255, 255, 255);">
                    {{tvshow.title}} <br>
                    <span class="text-2xl" style="font-weight: 300;"> Rated : {{tvshow.rating}}</span> <br>
                    {% for genre in genres %}
                    <span class="text-2xl" style="font-weight: 300;">{{genre.name}}</span> 
                     {% endfor %} <br>
                     <span class="text-2xl" style="font-weight: 300;">{{tvshow.year}} : {{tvshow.Status}}</span>

                </h2>
                <p class=" w-11/12 md:w-5/12 font-medium text-white my-4" style="color: white; font-size: 22px;">
                    {{tvshow.Storyline}} 
                    
                    
                   
                </p>
            
            </div>
        </section> 
        <section class='bg-primary_black  min-h-screen flex justify-center py-10'>
            <div class="p-8 w-10/12 relative" >
                <h2 class="text-gray-200 text-2xl font-medium">
                    Popular on Netflix
                </h2>
                <div class="flex justify-center  items-center min-w-full  movie_lis">
                        
                    {% for movie in movies%}
                    <a href="{% url 'ShowDetails' movie.uuid %}">
                    <div class="flex-shrink-0  h-40 m-4  bg-blue-500 rounded-md cursor-pointer overflow-hidden w-40" >
                        <img src="{{movie.poster.url}}" class="w-full h-full " alt="">
                    </div>
                    </a>
                    
                    {% endfor %}
                    
                    {% for ep in episode %}
                     <a href="{% url 'ShowDetails' ep.uuid %}">
                    <div class="flex-shrink-0  h-40 m-4  bg-blue-500 rounded-md cursor-pointer align-center text-center overflow-hidden w-40" >
                        <span style="color: black; font-weight:800">Season {{ep.season.number}}  Ep : {{ep.number}}</span><img src="{{ep.Tvshow.poster.url}}" class="w-full h-full " alt="">
                    </div>
                    </a>
                    {% endfor %}
                   
                    

                
                </div>
            </div>
        </section>
        
    </main>
    {% endblock content %}